.active{
  background-color: red ;
}
.image_show img{
  width: 300px;
  height: 200px;
  
}
.image_show{
  margin: 20px 0;
}
.img_main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.myImage_btn{
  text-align: center;
}
.myImage_btn button{
  width: 100px;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.myImage_search{
  text-align: center;
  margin: 30px 0;
}
.myImage_search input{
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid blue;
  outline: none;
}
.image_error h3{
  text-align: center;
}
.image_tag span{
  display: block;
  text-align: center;
  background-color: rgb(219, 216, 216);
  padding: 10px;
}


@media (max-width:600px) {
  .myImage_btn button{
    width: 60px;
    border: none;
    cursor: pointer;
    padding: 8px;
  }
  .myImage_search input{
    width: 250px;
  }
}